In [47]:
import pandas as pd

df = pd.read_csv('score_result.txt',  sep='|')
df.pivot_table(index='epoch',columns='neuron',aggfunc=('count','mean'))

       rmse                                                               \
       count                                            mean
neuron    1   2   3   4   5   6   7   8   9   10          1           2
epoch
100       10  10  10  10  10  10  10  10  10  10  109.843379   98.431323
200       10  10  10  10  10  10  10  10  10  10  101.822096   99.995186
300       10  10  10  10  10  10  10  10  10  10   98.586029   98.550061
400       10  10  10  13  10  10  10  10  10  10  102.900528  100.492064
500       10  10  10  10  10  10  10  10   7  10  105.292898  112.409504
600       10  10  10  10  10  10  10  10  10  10  102.648569  110.584468
700       10  10  10  10  10  10  10  10  10  10  103.256182  123.138906

                                                                    \

neuron          3           4           5           6           7
epoch
100      98.183590   96.229041   99.071278  101.523082   99.731174
200     102.978874  105.378625  100.522900  104.748258  116.993885
300     104.063032  127.191751  120.752573  127.150341  140.151698
400     126.836680  118.365935  159.065946  135.447611  151.993592
500     120.072265  157.952030  134.766052  139.657945  143.781881
600     152.207292  130.181233  141.468081  155.057305  163.340778
700     156.738867  145.459506  138.850131  161.219378  147.773660



neuron          8           9           10
epoch
100      98.883186  101.465789  102.488230
200     136.459555  138.167262  143.523910
300     160.243366  180.249909  152.901741
400     172.526918  143.906230  149.635648
500     171.118131  141.000042  158.437227
600     178.266242  147.502137  160.781083
700     141.763135  139.357252  173.368141