In [36]:
from sklearn.metrics import mean_squared_error
from math import sqrt
df = read_csv('shampoo-sales-spss-predict.csv',  parse_dates=[0], index_col=0, squeeze=True)
df.head()

            field2  $TS-field2
field1
1901-01-01   266.0  233.913827
1901-02-01   145.9  141.992172
1901-03-01   183.1  179.013068
1901-04-01   119.3  167.257131
1901-05-01   180.3  135.431612

In [37]:
df.columns

Index(['field2', '$TS-field2'], dtype='object')

In [51]:
from sklearn.metrics import mean_squared_error

df['diff']=df['field2']- df['$TS-field2']
df.head()

RMSE = mean_squared_error(df['field2'][-12:], df['$TS-field2'][-12:])**0.5
RMSE

116.22931769516337

In [44]:
rmse = sqrt(mean_squared_error(df['field2'][-12:], df['$TS-field2'][-12:]))
rmse

116.22931769516337

In [52]:
((df['field2'][-12:] - df['$TS-field2'][-12:]) ** 2).mean() ** .5

116.22931769516337